# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo

# Node
node_modules/
package-lock.json

# Storage pesado
storage/sessions/*/
storage/db/*.sqlite
storage/db/*.sqlite-journal

# Router PHP solo para testing local
api/router.php
